.choresText {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: green;
   font-style: italic;
}

.choresHeading {
   color: black;
   text-decoration: underline;

}